<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
        <img class="logo" src="./img/logo-en.png" alt="로고">
    </header>
    <div class="container">
        <div class="wrap">
            <div>
                <h1 class="title">회원가입</h1>
                <p class="sub-title">TOONSOUP에서 다양한 웹툰에 대한 정보와 <br>의견을 나눠보세요!</p>
            </div>
            <hr/ class="signUp-div">
            <form action="">
                <div>
                    <input class="input" id="id" type="text" placeholder="이름" autocomplete="off" required>
                    <input class="input" id="id" type="text" placeholder="아이디" autocomplete="off" required>
                    <input class="input" id="id" type="password" placeholder="비밀번호" autocomplete="off" required>
                    <input class="input" id="id" type="password" placeholder="비밀번호 확인" autocomplete="off" required>
                </div>
            </form>
            <div>
                <button class="btn" type="submit">회원가입</button>
            </div>            
        </div>
    </div>
    <script></script>
</body>

</html>